---
---


	{% assign total = 0 %} 
	{%for post in site.categories.press_en%}
		{% assign total = total | plus: 1%}
		{% if total <= 3 %}
			<div class="news">
				<div class="news-img clearfix">
					<img class="img" src={{post.featimg}} alt="资讯">
					<div class="news-day">
						<p class="day">{{post.date | date :  '%d'}}</p>
						<p class="month">{{post.date | date :  '%y'}}</p>
					</div>
				</div>
				<div class="news-main">
					<div class="news-title">{{post.title}}</div>
					<div class="news-general">{{post.excerpt}}</div>
					<div class="readMore">
						<a href='/pressDetail.html?title={{post.title}}&lang=en_US'>Read More</a>
					</div>
				</div>
			</div>
		{% endif %}
	{%endfor%} 
